doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/mainPage.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    body
        block content
            .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                .container
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#') Главная страница
                    .navbar-collapse.collapse
                        form.navbar-form.navbar-right(role='form')
                            .form-group
                            a.btn.btn-primary(href='/jwt/logout',type='submit') Выйти
                    // /.navbar-collapse
            // Main jumbotron for a primary marketing message or call to action
            .jumbotron
                .container
                    h1 #{userName}, Вас приветсвует новостной сайт!
                    p
                        | Данный сайт размещает всебе новостные статьи на различные тематики. Надеемся, что вам понравится находится здесь
                    p

                        a.btn.btn-primary.btn-lg(role='button',onclick='customDownload()',id="ButMore") Больше информации »
                        div(id="test")
            .container
                // Example row of columns
                .row
                    each newsTitle, i in newsTitles
                        .col-md-4
                            h2 #{newsTitle}
                            p
                                | #{newsShortcuts[i]}
                            p
                                a.btn.btn-default(href='news?article='+newsPages[i], role='button') Читать далее »

                hr
                footer
                    p © BSUIR 2016

    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/mainPage.js")