p В наше стремительное время следить за новостями – не только удовольствие, но и необходимость. К сожалению, не все новостные порталы
 | предлагают своевременную и правдивую информацию.  Таким образом, выбрать единственно верный источник инфор
 | мации порой нелегко.
a.btn.btn-primary.btn-lg(href='funInfo',role='button') Нажмите для увеселения »