doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/newsPage.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    body
        block content
            .blog-masthead
                .container
                    nav.blog-nav
                        a.blog-nav-item.active(href='#') Home


    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/mainPage.js")